<h2 class="mgid-panel-header"><img src="~/Content/images/white_arrow_up.png" alt="btn" /> @ViewBag.MapObject.Name <small>подробнее</small></h2>
<div id="description">
	<div style="width: 950px; height: 485px; overflow: hidden;">
		<div style="padding: 10px; width: 850px; height: 485px; box-sizing: border-box;">
		@Html.Raw(ViewBag.MapObject.Description)
		</div>
	</div>
</div>

