@using MarketGid.Core.Models

@{
	Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="mgid-keyboard input" id="ipad"></div>
@Html.Partial("_Keyboard")

<ul class="thumbnails">
	@foreach (Category category in ViewBag.Categories) {
		<li class="mgid-tile">
			<div class="thumbnail mgid-thumb" data-category="@category.Id">
				<h3>@category.Name</h3>
				<p></p>
			</div>
		</li>
	}
</ul>
