/* Файл с категориями объектов */
[
	{
		Id: 1,
		Name: 'Компьютерная техника',
		IconPath: '',
	},
	{
		Id: 101,
		ParentId: 1,
		Name: 'Настольные компьютеры'
	},
	{
		Id: 102,
		ParentId: 1,
		Name: 'Ноутбуки'
	},
	{
		Id: 103,
		ParentId: 1,
		Name: 'Комплектующие'
	},
	{
		Id: 104,
		ParentId: 1,
		Name: 'Аксессуары'
	},
	{
		Id: 2,
		Name: 'Телефоны, навигаторы',
		IconPath: '',
	},
	{
		Id: 201,
		ParentId: 2,
		Name: 'Мобильные телефоны'
	},
	{
		Id: 202,
		ParentId: 2,
		Name: 'DECT телефоны'
	},
	{
		Id: 203,
		ParentId: 2,
		Name: 'Аксессуары'
	},
	{
		Id: 204,
		ParentId: 2,
		Name: 'GPS-навигаторы'
	},
	{
		Id: 205,
		ParentId: 2,
		Name: 'MP3-плееры'
	},
	{
		Id: 3,
		Name: 'Бытовая техника'
	},
	{
		Id: 301,
		ParentId: 3,
		Name: 'Крупная бытовая техника'
	},
	{
		Id: 302,
		ParentId: 3,
		Name: 'Встраиваемая бытовая техника'
	},
	{
		Id: 303,
		ParentId: 3,
		Name: 'Мелкая бытовая техника'
	},
	{
		Id: 6,
		Name: 'Игровые приставки'
	},
	{
		Id: 7,
		Name: 'Автомобильная техника'
	},
	{
		Id: 701,
		ParentId: 7,
		Name: 'Автонавигаторы'
	},
	{
		Id: 702,
		ParentId: 7,
		Name: 'Магнитолы'
	},
	{
		Id: 703,
		ParentId: 7,
		Name: 'Автозвук, автоакустика'
	},
	{
		Id: 704,
		ParentId: 7,
		Name: 'Аксессуары'
	},
	{
		Id: 705,
		ParentId: 7,
		Name: 'Автосигнализации'
	},
	{
		Id: 8,
		Name: 'Телевизоры, проекторы, аудио'
	},
	{
		Id: 801,
		ParentId: 8,
		Name: 'Телевизоры и плазменные панели'
	},
	{
		Id: 802,
		ParentId: 8,
		Name: 'Видеопроекторы'
	},
	{
		Id: 803,
		ParentId: 8,
		Name: 'ЭЛТ телевизоры'
	},
	{
		Id: 804,
		ParentId: 8,
		Name: 'Спутниковое телевидение'
	},
	{
		Id: 805,
		ParentId: 8,
		Name: 'Аксессуары, пульты ДУ'
	},
	{
		Id: 806,
		ParentId: 8,
		Name: 'Аудио и видео техника'
	},
	{
		Id: 9,
		Name: 'Фото и видео техника'
	},
	{
		Id: 10,
		Name: 'Игрушки'
	},
	{
		Id: 1001,
		ParentId: 10,
		Name: 'Радиоуправляемые игрушки'
	},
	{
		Id: 11,
		Name: 'Строительство и ремонт'
	},
	{
		Id: 1101,
		Name: 'Инструменты'
	},
	{
		Id: 12,
		Name: 'Сервис и ремонт техники'
	},
	{
		Id: 1201,
		ParentId: 12,
		Name: 'Ремонт телефонов'
	},
	{
		Id: 1202,
		ParentId: 12,
		Name: 'Ремонт ноутбуков'
	},
	{
		Id: 1203,
		ParentId: 12,
		Name: 'Запчасти для телефонов'
	},
	{
		Id: 13,
		Name: 'Диски, софт, книги, фильмы'
	},
	{
		Id: 1301,
		ParentId: 13,
		Name: 'Электронные переводчики'
	},
	{
		Id: 1302,
		ParentId: 13,
		Name: 'Электронные словари'
	},
	{
		Id: 1303,
		ParentId: 13,
		Name: 'Курсы обучения'
	},
	{
		Id: 1304,
		ParentId: 13,
		Name: 'Фильмы, сериалы, мультфильмы'
	},
	{
		Id: 1305,
		ParentId: 13,
		Name: 'Софт, программы'
	},
	{
		Id: 14,
		Name: 'Красота издоровье'
	},
	{
		Id: 1401,
		ParentId: 14,
		Name: 'Медицинские товары'
	}
]

