/* Файл с объектами */
[
	{
		Id: 1,
		CategoryId: 1,
		Name: "A1-001",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 2,
		CategoryId: 1,
		Name: "A1-007",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 3,
		CategoryId: 1,
		Name: "A1-008",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 4,
		CategoryId: 1,
		Name: "A1-008A",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 5,
		CategoryId: 1,
		Name: "A1-009",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 6,
		CategoryId: 1,
		Name: "A1-033",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 7,
		CategoryId: 1,
		Name: "A1-032A",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 8,
		CategoryId: 1,
		Name: "A1-030A",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 9,
		CategoryId: 1,
		Name: "A1-032",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 10,
		CategoryId: 1,
		Name: "A1-031",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 11,
		CategoryId: 1,
		Name: "A1-029A",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 12,
		CategoryId: 1,
		Name: "A1-031A",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 13,
		CategoryId: 1,
		Name: "A1-029",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 14,
		CategoryId: 1,
		Name: "A1-010",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 15,
		CategoryId: 1,
		Name: "A1-011",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 16,
		CategoryId: 1,
		Name: "A1-012",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 17,
		CategoryId: 1,
		Name: "A1-013",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 18,
		CategoryId: 1,
		Name: "A1-014",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 19,
		CategoryId: 1,
		Name: "A1-015",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 20,
		CategoryId: 1,
		Name: "A1-015A",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 21,
		CategoryId: 1,
		Name: "A1-016",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 22,
		CategoryId: 1,
		Name: "A1-016A",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 23,
		CategoryId: 1,
		Name: "A1-017",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 24,
		CategoryId: 1,
		Name: "A1-017A",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 25,
		CategoryId: 1,
		Name: "A1-018",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 26,
		CategoryId: 1,
		Name: "A1-018A",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 27,
		CategoryId: 1,
		Name: "A1-019",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 28,
		CategoryId: 1,
		Name: "A1-021",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 29,
		CategoryId: 1,
		Name: "A1-021A",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 30,
		CategoryId: 1,
		Name: "A1-022",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 31,
		CategoryId: 1,
		Name: "A1-022A",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 32,
		CategoryId: 1,
		Name: "A1-023",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 33,
		CategoryId: 1,
		Name: "A1-023A",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 34,
		CategoryId: 1,
		Name: "A1-024",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 35,
		CategoryId: 1,
		Name: "A1-024A",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 36,
		CategoryId: 1,
		Name: "A1-024B",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 37,
		CategoryId: 1,
		Name: "A1-028",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 38,
		CategoryId: 1,
		Name: "A1-027A",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 39,
		CategoryId: 1,
		Name: "A1-027",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 40,
		CategoryId: 1,
		Name: "A-026",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 41,
		CategoryId: 1,
		Name: "A1-002A",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 42,
		CategoryId: 2,
		Name: "B1-002B",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 43,
		CategoryId: 2,
		Name: "B1-001A",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 44,
		CategoryId: 2,
		Name: "B1-001B",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 45,
		CategoryId: 2,
		Name: "B1-003A",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 46,
		CategoryId: 2,
		Name: "B1-031",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 47,
		CategoryId: 2,
		Name: "B1-030",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 48,
		CategoryId: 2,
		Name: "B1-029",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 49,
		CategoryId: 2,
		Name: "B1-028",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 50,
		CategoryId: 2,
		Name: "B1-027",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 51,
		CategoryId: 2,
		Name: "B1-026",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 52,
		CategoryId: 2,
		Name: "B1-001",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 53,
		CategoryId: 2,
		Name: "B1-040",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 54,
		CategoryId: 2,
		Name: "B1-039",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 55,
		CategoryId: 2,
		Name: "B1-038",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 56,
		CategoryId: 2,
		Name: "B1-037",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 57,
		CategoryId: 2,
		Name: "B1-036",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 58,
		CategoryId: 2,
		Name: "B1-035",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 59,
		CategoryId: 2,
		Name: "B1-034",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 60,
		CategoryId: 2,
		Name: "B1-007A",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 61,
		CategoryId: 2,
		Name: "B1-008",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 62,
		CategoryId: 2,
		Name: "B1-008A",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 63,
		CategoryId: 2,
		Name: "B1-009",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 64,
		CategoryId: 2,
		Name: "B1-009A",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 65,
		CategoryId: 2,
		Name: "B1-010",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 65,
		CategoryId: 2,
		Name: "B1-010A",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 66,
		CategoryId: 2,
		Name: "B1-011",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 67,
		CategoryId: 2,
		Name: "B1-011A",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 68,
		CategoryId: 2,
		Name: "B1-012",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 69,
		CategoryId: 2,
		Name: "B1-012A",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 70,
		CategoryId: 2,
		Name: "B1-014",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 71,
		CategoryId: 2,
		Name: "B1-015",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 72,
		CategoryId: 2,
		Name: "B1-016A",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 74,
		CategoryId: 2,
		Name: "B1-017",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 75,
		CategoryId: 2,
		Name: "B1-017B",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 76,
		CategoryId: 2,
		Name: "B1-018",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 77,
		CategoryId: 2,
		Name: "B1-019A",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 78,
		CategoryId: 2,
		Name: "B1-020",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 79,
		CategoryId: 2,
		Name: "B1-020A",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 80,
		CategoryId: 2,
		Name: "B1-021",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 81,
		CategoryId: 2,
		Name: "B1-023",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 82,
		CategoryId: 2,
		Name: "B1-068",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 83,
		CategoryId: 2,
		Name: "B1-069A",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 84,
		CategoryId: 2,
		Name: "B1-069",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 85,
		CategoryId: 2,
		Name: "B1-070",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 86,
		CategoryId: 2,
		Name: "B1-080",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 87,
		CategoryId: 2,
		Name: "B1-071",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 88,
		CategoryId: 2,
		Name: "B1-072",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 89,
		CategoryId: 2,
		Name: "B1-079",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 90,
		CategoryId: 2,
		Name: "B1-073",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 91,
		CategoryId: 2,
		Name: "B1-078",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 92,
		CategoryId: 2,
		Name: "B1-074",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 93,
		CategoryId: 2,
		Name: "B1-077",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 94,
		CategoryId: 2,
		Name: "B1-076",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 95,
		CategoryId: 2,
		Name: "B1-075",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 96,
		CategoryId: 2,
		Name: "B1-049",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 97,
		CategoryId: 2,
		Name: "B1-048",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 98,
		CategoryId: 2,
		Name: "B1-047",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 99,
		CategoryId: 2,
		Name: "B1-046",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 100,
		CategoryId: 2,
		Name: "B1-045",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 101,
		CategoryId: 2,
		Name: "B1-044",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 102,
		CategoryId: 2,
		Name: "B1-043",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 103,
		CategoryId: 2,
		Name: "B1-050",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 104,
		CategoryId: 2,
		Name: "B1-051",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 105,
		CategoryId: 2,
		Name: "B1-052",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 106,
		CategoryId: 2,
		Name: "B1-053",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 107,
		CategoryId: 2,
		Name: "B1-054",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 108,
		CategoryId: 2,
		Name: "B1-055",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 109,
		CategoryId: 2,
		Name: "B1-056",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 110,
		CategoryId: 2,
		Name: "B1-057",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 111,
		CategoryId: 2,
		Name: "B1-041",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 112,
		CategoryId: 2,
		Name: "B1-062",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 113,
		CategoryId: 2,
		Name: "B1-064",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 114,
		CategoryId: 2,
		Name: "B1-065",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 115,
		CategoryId: 2,
		Name: "B1-066",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 116,
		CategoryId: 2,
		Name: "B1-067",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 117,
		CategoryId: 2,
		Name: "B1-058",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 118,
		CategoryId: 2,
		Name: "B1-059",
		TileDescription: "",
		Description: ""
	},
	{
		Id: 119,
		CategoryId: 2,
		Name: "B1-061",
		TileDescription: "",
		Description: ""
	},
]

