/* Файл с рекламными материалами */
[
	// Большое изображение "Папиллонс"
	{
		Id: 1,
		Name: 'Папиллонс (большая)',
		Uri: '~/Content/images/ppl1.jpg',
		Duration: '00:00:10',
		Places: ['LockScreen']
	},
	// Большое изображение "Мосфильм"
	{
		Id: 2,
		Name: 'Мосфильм (большая)',
		Uri: '~/Content/images/mosf1.jpg',
		Duration: '00:00:05',
		Places: ['LockScreen']
	},
	// Маленькое изображение "Папиллонс"
	{
		Id: 3,
		Name: 'Папиллонс (маленькая)',
		Uri: '~/Content/images/ppl2.jpg',
		Duration: '00:00:10',
		Places: ['MainScreenTop', 'MainScreenBottom']
	},
	// Маленькое изображение "Мосфильм"	
	{
		Id: 4,
		Name: 'Мосфильм (маленькая)',
		Uri: '~/Content/images/mosf2.jpg',
		Duration: '00:00:10',
		Places: ['MainScreenBottom', 'MainScreenTop']
	},
]

