<?xml version="1.0" encoding="UTF-8" ?>
<Advertisements>
	<Advertisement>
		<Id>1</Id>
		<Uri>~/Content/images/ppl1.jpg</Uri>
		<Duration>00:00:10</Duration>
		<Place>LockScreen</Place>
	</Advertisement>
	<Advertisement>
		<Id>2</Id>
		<Uri>~/Content/images/mosf1.jpg</Uri>
		<Duration>00:00:5</Duration>
		<Place>LockScreen</Place>
	</Advertisement>
</Advertisements>

