/* Файл с категориями объектов */
[
	{
		Id: 1,
		Name: 'Студии',
		IconPath: '',
	},
	{
		Id: 2,
		Name: 'Павильоны',
		IconPath: '',
	},
	{
		Id: 3,
		Name: 'Компьютерная служба',
		IconPath: '',
	},
	{
		Id: 4,
		Name: 'Руководство',
		IconPath: '',
	},
	{
		Id: 5,
		Name: 'Техническая служба',
		IconPath: '',
	},
	{
		Id: 6,
		Name: 'Экономический отдел',
		IconPath: '',
	},
	{
		Id: 7,
		Name: 'Охрана',
		IconPath: '',
	},
	{
		Id: 8,
		Name: 'Питание',
		IconPath: '',
	},
	{
		Id: 9,
		Name: 'Актерские комплексы',
		IconPath: '',
	},
	{
		Id: 10,
		Name: 'Монтаж и коррекция',
		IconPath: '',
	}
]

