/* Файл с категориями объектов */
[
	{
		Id: 1,
		Name: 'I Этаж'
	},
	{
		Id: 2,
		Name: 'II Этаж'
	},
	{
		Id: 3,
		Name: 'III Этаж'
	}/*,
	{
		Id: 4,
		Name: 'Общие сведения'
	},
	{
		Id: 5,
		Name: 'Поступающим'
	},
	{
		Id: 6,
		Name: 'Учебный процесс'
	},
	{
		Id: 7,
		Name: 'Наука'
	},
	{
		Id: 8,
		Name: 'Студенческая жизнь'
	},
	{
		Id: 9,
		Name: 'УМО'
	},
	{
		Id: 10,
		Name: 'СМИ'
	},
	{
		Id: 11,
		Name: 'История юридического факультета'
	},
	{
		Id: 12,
		Name: 'Нас спрашивают'
	}*/
]

