/* Файл с объектами */
[
	{
		Id: 1,
		CategoryId: 1,
		Name: "Студия записи музыки №1",
		TileDescription: "ПК «Тонстудия», Строение 27, этаж 1",
		Description: "<p>Музыкальные студии киноконцерна «Мосфильм» снабженные современным звукозаписывающим оборудованием и предлагают полный комплекс услуг для записи и сведения музыки в различных форматах, от обычной стерео записи для компакт-дисков, до Dolby Digital 5.1 для кино- и видеопроизводства. Студия №1 предназначена для записи симфонических и джазовых оркестров</p><p>Музыкальные инструменты:<ul><li>3 рояля Steinway</li><li>Барабанная установка Yamaha</li><li>Клавиши Kurzweil PC3K8, Korg T3, Yamaha DX7</li><li>Гитарные усилители и кабинеты Ampeg SVT-2PRO, Marshall TSL 100</li></ul></p>"
	},
	{
		Id: 2,
		CategoryId: 1,
		Name: "Студия записи музыки №2",
		TileDescription: "ПК «Тонстудия», Строение 27, этаж 1",
		Description: "<p>Музыкальные студии киноконцерна «Мосфильм» снабженные современным звукозаписывающим оборудованием и предлагают полный комплекс услуг для записи и сведения музыки в различных форматах, от обычной стерео записи для компакт-дисков, до Dolby Digital 5.1 для кино- и видеопроизводства. Студия №1 предназначена для записи поп и рок музыки</p>"
	},
	{
		Id: 3,
		CategoryId: 1,
		Name: "Студия озвучивания №11",
		TileDescription: "ПК «Тонстудия», Строение 27, этаж 2"
	},
	{
		Id: 4,
		CategoryId: 1,
		Name: "Студия перезаписи №5",
		TileDescription: "ПК «Тонстудия», Общий план",
		Description: "<p>Студии перезаписи № 5, 6 и 7 предназначены для перезаписи (микширования) и кодирования фонограмм во всех форматах применяемых сегодня в кино: моно, Dolby SR, Dolby Digital, Dolby Digital Surround EX.</p>"
	},
	{
		Id: 5,
		CategoryId: 1,
		Name: "Микшерская студия записи №1",
		TileDescription: "ПК «Тонстудия», Строение 27, этаж 2"
	},
	{
		Id: 6,
		CategoryId: 1,
		Name: "Микшерская студия записи №2",
		TileDescription: "ПК «Тонстудия», Строение 27, этаж 1"
	},
	{
		Id: 7,
		CategoryId: 1,
		Name: "Студия записи шумов №4",
		TileDescription: "ПК «Тонстудия», Строение 27, этаж 1",
		Description: "<p>Новая Студия шумового озвучивания №4 в ПК «Старая Тонстудия» с залом площадью 100м2 предназначена для записи синхронных шумов под видеоизображение. Студия оборудована первым в России микшерским пультом Harrison TRION.</p>"
	},
	{
		Id: 8,
		CategoryId: 1,
		Name: "Студия перезаписи малая №205",
		TileDescription: "ПК «Тонстудия», Строение 27, этаж 1"
	},
	{
		Id: 9,
		CategoryId: 1,
		Name: "Телекино (ПК)",
		TileDescription: "Строение 27, этаж 1"
	},
	{
		Id: 10,
		CategoryId: 1,
		Name: "Студия перезаписи №6",
		TileDescription: "ПК «Тонстудия», Строение 27, этаж 2",
		Description: "<p>Студии перезаписи № 5, 6 и 7 предназначены для перезаписи (микширования) и кодирования фонограмм во всех форматах применяемых сегодня в кино: моно, Dolby SR, Dolby Digital, Dolby Digital Surround EX.</p>"
	},
	{
		Id: 11,
		CategoryId: 1,
		Name: "Студия перезаписи №7",
		TileDescription: "ПК «Тонстудия», Строение 27, этаж 2",
		Description: "<p>Студии перезаписи № 5, 6 и 7 предназначены для перезаписи (микширования) и кодирования фонограмм во всех форматах применяемых сегодня в кино: моно, Dolby SR, Dolby Digital, Dolby Digital Surround EX.</p>"
	},
	{
		Id: 12,
		CategoryId: 1,
		Name: "Студия записи шумов №8",
		TileDescription: "ПК «Тонстудия», Строение 27, этаж 2",
		Description: "<p>Студия шумового озвучивания №8 с залом площадью 120м2, оснащенная большим количеством разнообразных фактур, предназначена для записи синхронных шумов под кино или видеоизображение.</p>"
	},
	{
		Id: 13,
		CategoryId: 1,
		Name: "Студия озвучивания №9",
		TileDescription: "ПК «Тонстудия», Строение 27, этаж 2"
	},
	{
		Id: 14,
		CategoryId: 1,
		Name: "Студия озвучивания №10",
		TileDescription: "ПК «Тонстудия», Строение 27, этаж 2"
	},
	{
		Id: 15,
		CategoryId: 2,
		Name: "Павильон №8",
		TileDescription: "Строение 18, этаж 1"
	},
	{
		Id: 16,
		CategoryId: 2,
		Name: "Павильон №9",
		TileDescription: "Строение 18, этаж 1"
	},
	{
		Id: 17,
		CategoryId: 2,
		Name: "Павильон №10",
		TileDescription: "Строение 18, этаж 1"
	},
	{
		Id: 18,
		CategoryId: 2,
		Name: "Мастеринговый просмотровый зал №18",
		TileDescription: "Строение 5, этаж 3"
	},
	{
		Id: 19,
		CategoryId: 2,
		Name: "Павильон №1",
		TileDescription: "Общий план"
	},
	{
		Id: 20,
		CategoryId: 2,
		Name: "Павильон №13, 1 этаж",
		TileDescription: "Строение 18, этаж 1"
	},
	{
		Id: 21,
		CategoryId: 2,
		Name: "Павильон №13, 2 этаж",
		TileDescription: "Строение 18, этаж 1"
	},
	{
		Id: 22,
		CategoryId: 2,
		Name: "Павильон №14",
		TileDescription: "Декорация &laquo;Церковь&raquo;, Строение 18, этаж 1",
		Description: "<ul><li>Габариты: S - 196 м2 (20х6,5), h - 6,5 м</li><li>Способы электроподключений: 17 точек подключения, основные разъёмы – 380В/63А, 220В/63А, 220В/16А</li><li>Максимально допустимая мощность: 60 кВт</li><li>Возможность монтажа осветительных лесов: нет</li><li>Возможность записи живого звука: нет</li><li>Система кондиционирования воздуха: нет</li><li>Система вентиляции и дымоудаления: нет</li><li>Доступ в Интернет через беспроводную сеть WiFi: нет</li></ul>"
	},
	{
		Id: 23,
		CategoryId: 2,
		Name: "Павильон №5",
		TileDescription: "Строение 20, этаж 1"
	},
	{
		Id: 24,
		CategoryId: 2,
		Name: "Павильон №6",
		TileDescription: "Строение 20, этаж 1"
	},
	{
		Id: 25,
		CategoryId: 2,
		Name: "Павильон №7",
		TileDescription: "Строение 20, этаж 1"
	},
	{
		Id: 26,
		CategoryId: 3,
		Name: "Компьютерная графика №447",
		TileDescription: "Строение 3, этаж 1"
	},
	{
		Id: 27,
		CategoryId: 3,
		Name: "Компьютерная реставрация №402",
		TileDescription: "Строение 3, этаж 1"
	},
]

