<div class="keyboard-wrap" id="keyboard-en" style="display:none">
	<ul class="keyboard">
		<li>1</li><li>2</li><li>3</li><li>4</li><li>5</li><li>6</li><li>7</li><li>8</li><li>9</li><li>0</li><li>-</li><li class="backspace">⌫</li>
	</ul>
	<ul class="keyboard">
		<li>q</li><li>w</li><li>e</li><li>r</li><li>t</li><li>y</li><li>u</li><li>i</li><li>o</li><li>p</li><li>/</li><li class="enter">⏎</li>
	</ul>
	<ul class="keyboard">
		<li>a</li><li>s</li><li>d</li><li>f</li><li>g</li><li>h</li><li>j</li><li>k</li><li>l</li><li>,</li><li>.</li><li class="shift">⇪</li>
	</ul>
	<ul class="keyboard">
		<li>z</li><li>x</li><li>c</li><li>v</li><li>b</li><li>n</li><li>m</li><li class="mini-space">space</li><li class="lang" data-lang="ru">RU</li>
	</ul>
</div>
<div class="keyboard-wrap" id="keyboard-ru" style="display:none">
	<ul class="keyboard">
		<li>1</li><li>2</li><li>3</li><li>4</li><li>5</li><li>6</li><li>7</li><li>8</li><li>9</li><li>0</li><li>-</li><li class="backspace">⌫</li>
	</ul>
	<ul class="keyboard">
		<li>й</li><li>ц</li><li>у</li><li>к</li><li>е</li><li>н</li><li>г</li><li>ш</li><li>щ</li><li>з</li><li>х</li><li class="enter">⏎</li>
	</ul>
	<ul class="keyboard">
		<li>ф</li><li>ы</li><li>в</li><li>а</li><li>п</li><li>р</li><li>о</li><li>л</li><li>д</li><li>ж</li><li>э</li><li class="shift">⇪</li>
	</ul>
	<ul class="keyboard">
		<li>я</li><li>ч</li><li>с</li><li>м</li><li>и</li><li>т</li><li>ь</li><li>б</li><li>ю</li><li>ъ</li><li>.</li><li class="lang" data-lang="en">EN</li>
	</ul>
	<ul class="keyboard">
		<li class="space b6 offset3">пробел</li>
	</ul>
</div>
