<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title></title>
	<link href="~/Content/css/styles.css" rel="stylesheet" />
	<script type="text/javascript" src="~/Scripts/jquery-1.9.1.js"></script>
	<script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
</head>
<body>
	<div class="container">
		@RenderBody()
	</div>
</body>
</html>
