<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title></title>
	<link href="~/Content/bootstrap.css" rel="stylesheet" />
	<link href="~/Content/bootstrap-responsive.css" rel="stylesheet" />
	<link href="~/Content/ui-darkness/jquery-ui-1.10.3.css" rel="stylesheet" />
	<link href="~/Content/styles.css" rel="stylesheet" />
	<link href="~/Content/keyboard.css" rel="stylesheet" />
	<script type="text/javascript" src="~/Scripts/jquery-1.9.1.js"></script>
	<script type="text/javascript" src="~/Scripts/jquery-ui-1.10.3.js"></script>
	<script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
	<script type="text/javascript" src="~/Scripts/jquery.keyboard.js"></script>
</head>
<body>
	<div class="container">
		@RenderBody()
	</div>

	<script type="text/javascript">
		var timedout = false;

		$(document).ready(function () {
			//setInterval(sessionTimedout, 30000);
		});

		function sessionTimedout() {
			if (timedout)
				window.location.href = "/Home/Timedout";
			//timedout = true;
		}
	</script>
</body>
</html>
