<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<title></title>
	<link href="~/Content/bootstrap.css" rel="stylesheet" />
	<link href="~/Content/ui-darkness/jquery-ui-1.10.3.css" rel="stylesheet" />
	<link href="~/Content/animate.css" rel="stylesheet" />
	<link href="~/Content/styles.css" rel="stylesheet" />
	<link href="~/Content/keyboard.css" rel="stylesheet" />
	<link href="~/Content/antiscroll.css" rel="stylesheet" />

</head>
<body class="animated fadeIn">
	<div class="container">
		@RenderBody()
	</div>

	<script type="text/javascript" src="~/Scripts/jquery-2.0.3.js"></script>
	<script type="text/javascript" src="~/Scripts/jquery-ui-1.10.3.js"></script>
	<script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
	<script type="text/javascript" src="~/Scripts/jquery.keyboard.js"></script>
	<script type="text/javascript" src="~/Scripts/kineticjs-4.6.0.js"></script>
	<script type="text/javascript" src="~/Scripts/animation.js"></script>
	<script type="text/javascript" src="~/Scripts/antiscroll.js"></script>
	<script type="text/javascript" src="~/Scripts/menu.js"></script>
	
	<script type="text/javascript">
		var timedout = false;

		$(document).ready(function () {
			//setInterval(sessionTimedout, 30000);
		});

		function sessionTimedout() {
			if (timedout)
				window.location.href = "/Home/Timedout";
			//timedout = true;
		}
	</script>
	
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-44339793-1']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
	
	@RenderSection("scripts", false)
</body>
</html>
