@using MarketGid.Core.Models
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mgu-content">
	<div class="mgu-logo-center">
		<img src="~/Content/images/flogo.png" />
	</div>
	<div class="mgu-home-menu-item">
		ИНФОРМАЦИЯ <img src="~/Content/images/btn_round.png" class="mgu-home-btn-round" />
	</div>
	<div class="mgu-home-menu-item">
		ПЛАНЫ ЭТАЖЕЙ <img src="~/Content/images/btn_round.png" class="mgu-home-btn-round" />
	</div>
	<div class="mgu-home-menu-item">
		ПОСТУПАЮЩИМ <img src="~/Content/images/btn_round.png" class="mgu-home-btn-round" />
	</div>
</div>


@section scripts {

<script type="text/javascript">
	$(document).ready(function () {
		$(document).click(function () {
			$('body').addClass('animated fadeOut');
			window.location.href = '/Main/Index';
		});
	});
</script>

}