@using MarketGid.Core.Models
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="logo">
	ТК &laquo;Горбушкин Двор&raquo;
</div>
<div class="content">
	@Html.Partial("_Advertisement", (Advertisement) ViewBag.Advertisement)
</div>
<div class="footer">
	<span>
		Навигация по ТК &laquo;Горбушкин Двор&raquo; 
		<a href="~/main"><img src="~/Content/images/black_arrow_rigth.png" alt="arrow" /></a>
	</span>
	<span class="help-message">
		Коснитесь экрана, что бы начать работу
	</span>
</div>

@section scripts {

<script type="text/javascript">
	$(document).ready(function () {
		setTimeout(function () { rotate(); }, @ViewBag.Advertisement.Duration.TotalMilliseconds);
		$(document).click(function () {
			$('body').addClass('animated fadeOut');
			window.location.href = '/Main/Index';
			if (_gaq) {
				_gaq.push()['_trackEvent', 'Сеансы', 'Начало', 'Новый сеанс' ];
			}
		});
		
		// отсылаем данные в GA
		var catName = 'Изображение';
		@if (ViewBag.Advertisement.DataType == "video") {
		<text>catName = 'Видео';</text>
		}
		if (_gaq) {
			_gaq.push(['_trackEvent', catName, 'Show', '@ViewBag.Advertisement.Name']);
		}
	});

	function rotate() {
		Animation.fadeOut('#@ViewBag.Advertisement.CurrentPlace');
		$.post('/Home/Rotate', function (data) {
			$('.content').html(data);
		});
	}
</script>

}