@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="logo">
	<img src="~/Content/images/mflogo.png" alt="Mosfilm logo" /> МОСФИЛЬМ
</div>
<div class="content">
	<img id="adImage" src="@ViewData["imageSource"]" alt="advertise" />
</div>
<div class="footer">
	<span>
		Навигация по МОСФИЛЬМУ <a href="~/main"><img src="~/Content/images/black_arrow_rigth.png" alt="arrow" /></a>
	</span>
	<span class="help-message">
		Коснитесь экрана, что бы начать работу
	</span>
</div>

@section scripts {

<script type="text/javascript">
	$(document).ready(function () {
		setTimeout(function () { rotate(); }, @ViewData["duration"]);
		$(document).click(function () {
			$('body').addClass('animated fadeOut');
			window.location.href = '/Main/Index';
			if (_gaq) {
				_gaq.push()['_trackEvent', 'Сеансы', 'Начало', 'Новый сеанс' ];
			}
		});
		
		// отсылаем данные в GA
		if (_gaq) {
			_gaq.push(['_trackEvent', 'Images', 'Show', '@ViewData["imageName"]']);
		}
	});

	function rotate() {
		//Animation.fadeOut('.content');
		$.post('/Home/Rotate', function (data) {
			// отсылаем данные в GA
			if (_gaq) {
				_gaq.push(['_trackEvent', 'Images', 'Show', data.name]);
			}
		
			$('#adImage').attr('src', data.imageSource);
			//Animation.fadeIn('.content');
			setTimeout(function () { rotate(); }, data.duration);
		});
	}
</script>

}