@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>General</title>
</head>
<body>
	<h1>Внимание !</h1>
	<p>Ведутся работы по обновлению данных, скоро работа будет восстановлена</p>
	
	<script type="text/javascript">
		setTimeout(function () { window.location='/'; }, 5000);
	</script>
</body>
</html>

