body {
	font-family: 'Segoe UI Semilight', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
	color: #fff;
	padding: 0px;
	margin: 0px;
}

header, footer, nav, section {
	display: block;
}

.container {
	width: 1080px !important;
	height: 1920px !important;
	margin: 0px 0px 0px 0px !important;
	padding: 0px 0px 0px 0px !important;
	background-image: url('../images/background.png');
}

/*
	BEGIN Lock screen classes
*/
.logo {
	font-size: 58pt;
	font-weight: bold;
	height: 90px;
	padding: 10px;
	background-color: #F8F600;
	color: #000;
}
	.logo img {
		margin-left: 10px;
		margin-right: 10px;
		height: 89px;
		width: 89px;
		vertical-align: top;
	}

.content {
	padding: 20px 20px 20px 20px;
}

.footer {
	font-size: 38pt;
	font-weight: bold;
	height: 220px;
	padding: 10px;
	color: #000;
	background-image: url('../images/plan3.jpg');
	background-position-x: right;
	background-repeat: no-repeat;
}
	.footer span {
		padding: 20px 10px 20px 10px;
	}
	.footer img {
		vertical-align: sub;
	}
	.footer .help-message {
		float: left;
		position: relative;
		top: 50%;
		font-size: 20pt;
		color: #404040;
	}

/*
	Main view classes
*/

.main-header {
	height: 385px;
	padding: 20px;
}

.main-content {
	height: 1070px;
	padding: 0px 20px 0px 20px;
}
	.main-content .title {
		font-size: 38pt;
		color: #000;
		background-color: #F8F600;
		font-weight: bold;
	}
		.main-content .title img {
			padding: 10px;
			height: 89px;
			width: 89px;
			vertical-align: middle;
		}
		.main-content .title .btn-home {
			background-color: #2776EC;
			float: right;
			padding: 10px;
		}
			.main-content .title .btn-home img {
				width: 70px;
				height: 70px;
			}
	.main-content .main-container {
		padding: 10px 0px 0px 0px;
	}
		.main-content .main-container .left-column {
			width: 100px;
			float: left;
		}
			.main-content .main-container .left-column .panel {
				background-color: #2776EC;
				height: 400px;
				margin-bottom: 10px;
			}
				.main-content .main-container .left-column .panel.opened {
					width: 400px !important;
				}
			.main-content .main-container .left-column .button {
				background-color: #2776EC;
				height: 100px;
				margin-bottom: 10px;
			}
				.main-content .main-container .left-column .button img {
					margin: 18px;
				}
		.main-content .main-container .right-column {
			width: 930px;
			float: right;
		}
			.main-content .main-container .right-column .map {
				height: 400px;
				margin-bottom: 10px;
			}
			.main-content .main-container .right-column .tiles {
			}

.main-footer {
	height: 385px;
	padding: 20px;
}
