@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-content">
	<div class="main-content-title">
		<ul class="breadcrumb">
			<li>
				<a href="~/Home/Launch"><img src="~/Content/images/black_arrow_left.png" alt="Back" style="display: inline-block;" /></a> 
				МГУ, информация для поступающих
			</li>
		</ul>
	</div>
	<div class="main-container">
		<div style="padding: 20px; color: #176fc1;" class="antiscroll-wrap">
			<div class="antiscroll-inner" style="height: 944px; width: 994px;">
			
<p class="lead">Центральная приемная комиссия</p>
<ul>
<li><a href="#">Официальный сайт Центральной приемной комиссии МГУ</a><br />Официальная информация для поступающих на обучение по программам подготовки бакалавров, специалистов, программам магистратуры, а также для получения второго высшего образования</li>
</ul>

<p class="lead">Олимпиады школьников</p>
<ul>
<li><a href="#">Олимпиады, вошедшие в Перечень олимпиад школьников на 2012-2013 учебный год</a></li>
<li><a href="#">Нормативные документы об олимпиадах школьников</a></li>
<li><a href="#">Открытая олимпиада по программированию</a></li>
<li><a href="#">Московская открытая олимпиада по геологии</a></li>
<li><a href="#">Открытый чемпионат школ по экономике</a></li>
</ul>

<p class="lead">Факультеты и филиалы</p>
<ul>
<li><a href="#">Информация о факультетах МГУ</a><br />Коротко о каждом факультете, специальности, срок обучения, адреса, контактная информация</li>
<li><a href="#">Информация о филиалах МГУ</a><br />Специальности, факультеты, условия приема, контактная информация</li>
</ul>

<p class="lead">Правила приема в МГУ</p>
<ul>
<li>Правила приема в Московский государственный университет имени М.В.Ломоносова в 2013 году для граждан Российской Федерации и для иностранных граждан</li>
<li>Перечень направлений подготовки (специальностей) и вступительных испытаний в МГУ имени М.В.Ломоносова в 2013 году для поступающих на 1 курс на обучение по программам бакалавриата и программам подготовки специалиста (для граждан Российской Федерации) </li>
<li>Перечень направлений подготовки и вступительных испытаний в МГУ имени М.В.Ломоносова в 2013 году для поступающих на 1 курс на обучение по программам магистратуры </li>
<li>Перечень направлений подготовки (специальностей) и вступительных испытаний в МГУ имени М.В.Ломоносова в 2013 году для лиц, имеющих высшее профессиональное образование, поступающих в отдельном конкурсе </li>
<li>Перечень и формы проведения аттестационных испытаний в МГУ имени М.В.Ломоносова в 2013 году для приема (перевода) на второй и последующий курсы на обучение по программам бакалавриата и программам подготовки специалиста </li>
<li>Приказ Минобрнауки России от 28 декабря 2011 г. № 2895 </li>
<li>Правила приема в аспирантуру</li>
<li>Правила приема в докторантуру</li>
<li>Правила приема на стажировку</li>
</ul>


			</div>
		</div>
	</div>
</div>

@section scripts {
	<script type="text/javascript" src="~/Scripts/antiscroll.js"></script>
	<script type="text/javascript" src="~/Scripts/lifetime.js"></script>
	
	<script type="text/javascript">
	 	var pageLifetime = new Lifetime();

		$(document).ready(function () {
			pageLifetime.init();
			$('.antiscroll-wrap').antiscroll({ autoHide: false });
		});
	</script>
}