@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-content">
	<div class="main-content-title">
		<ul class="breadcrumb">
			<li>
				<a href="~/Home/Launch"><img src="~/Content/images/black_arrow_left.png" alt="Back" style="display: inline-block;" /></a> 
				ЮРИДИЧЕСКИЙ ФАКУЛЬТЕТ
			</li>
		</ul>
	</div>
	<div class="main-container">
		<div style="padding: 20px; color: #176fc1;" class="antiscroll-wrap">
			<div class="antiscroll-inner" style="height: 944px; width: 994px;">
<p class="lead">Декан — профессор Голиченков Александр Константинович</p>
<p>
Юридический факультет МГУ является признанным центром подготовки высококвалифицированных правоведов. Факультет был образован первоначально еще в момент основания университета в 1755 году и воссоздан в университетской структуре в 1942 году.
</p>
<p>
Сегодня юридический факультет МГУ — ведущее учебное и научное юридическое заведение. Ученые факультета осуществляют широкую программу научно-исследовательских работ в различных областях юридической науки, активно участвуют в совершенствовании российского законодательства, научном консультировании государственных органов и международных организаций, разработке законопроектов.
</p>
<p>
Для чтения отдельных курсов привлекаются известные ученые и практические работники из научных учреждений и государственных органов, в том числе зарубежных.
</p>
<p>
Факультет располагает всеми необходимыми условиями для подготовки квалифицированных юристов по направлению «юриспруденция». Учебные аудитории факультета оснащаются мультимедийным оборудованием, в том числе компьютерами с доступом к сети интернет, справочным правовым ресурсам, уникальным методическим материалам преподавателей факультета.
</p>
<ul>
В составе факультета работают 16 кафедр: 
<li>административного права (зав. кафедрой — заслуженный юрист РФ профессор А.П. Алехин)</li>
<li>гражданского права (зав. кафедрой — заслуженный деятель науки РФ профессор Е.А. Суханов)</li>
<li>гражданского процесса (зав. кафедрой — заслуженный деятель науки РФ профессор М.К. Треушников)</li>
<li>иностранных языков (зав. кафедрой — доцент Т.И.Тарасова)</li>
<li>истории государства и права (зав. кафедрой — профессор В.А.Томсинов)</li>
<li>коммерческого права и основ правоведения (зав. кафедрой — заслуженный юрист РФ профессор Б.И. Пугинский)</li>
<li>конституционного и муниципального права (зав. кафедрой — заслуженный деятель науки РФ профессор С.А. Авакьян)</li>
<li>криминалистики (и. о. зав. кафедрой — профессор И.В. Александров)</li>
<li>международного права (и. о. зав. кафедрой — доцент А.C. Исполинов)</li>
<li>предпринимательского права (зав. кафедрой — заслуженный юрист РФ профессор Е.П. Губин)</li>
<li>теории государства и права и политологии (зав. кафедрой — профессор М.Н. Марченко)</li>
<li>трудового права (зав. кафедрой — заслуженный юрист РФ профессор А.М. Куренной)</li>
<li>уголовного права и криминологии (зав. кафедрой — профессор В.С. Комиссаров)</li>
<li>уголовного процесса, правосудия и прокурорского надзора (и. о. зав. кафедрой — профессор Л.В. Головко)</li>
<li>финансового права (зав. кафедрой — доцент М.Ф. Ивлиева)</li>
<li>экологического и земельного права (зав. кафедрой — профессор А.К. Голиченков)</li>
</ul>
<p>
В составе факультета работает лаборатория по политологии, лаборатория социально-правовых исследований и сравнительного правоведения, лаборатория правовой информатики и кибернетики. Факультет располагает научно-кодификационным бюро, читальным залом научно-учебной литературы.
Для воспитания профессиональной ответственности у студентов, формирования у них практических навыков оказания юридической помощи на факультете с 2003 г. работают Студенческие юридические бесплатные консультации (юридическая клиника).
</p>
		
<p class="lead">Бакалавриат</p>
<p>
Основным видом подготовки на юридическом факультете является подготовка по программе бакалавриата по направлению «юриспруденция». Форма обучения — очная. Имеются как бюджетные, так и договорные места.
В процессе обучения студенты последовательно изучают полный комплекс базовых юридических дисциплин: теорию государства и права, историю отечественного государства и права, историю государства и права зарубежных стран, конституционное право, административное право, муниципальное право, финансовое право, гражданское право, гражданский процесс, уголовное право, уголовный процесс, криминалистику, экологическое право, земельное право, трудовое право, международное право, конституционное право, конституционное право зарубежных стран, предпринимательское право, коммерческое право, семейное право и другие правовые дисциплины, а также иностранный язык, логику, социально-гуманитарные дисциплины.
Помимо изучения обязательных дисциплин на юридическом факультете организуются факультативные курсы по разделам правовой науки и иностранным языкам. На протяжении обучения студенты проходят практику в суде, органах государственной власти и управления, на предприятиях, в учреждениях и организациях.
Для студентов бакалавриата предусмотрена специализация по одному из трех профилей подготовки: гражданско-правовому, государственно-правовому и уголовно-правовому, отличающихся перечнем обязательных дисциплин и дисциплин по выбору, которые отражают специфику избранной специализации. Выпускники имеют возможность продолжить обучение в магистратуре.
</p>

<p class="lead">Спецотделение «Второе высшее образование»</p>
<p>
Специальное отделение «Второе высшее образование» работает с 1992 г. Оно предназначено для лиц, имеющих высшее профессиональное образование и желающих получить второе высшее образование в области юриспруденции. Подготовка осуществляется по программе бакалавриата в очно-заочной (вечерней) форме на договорной основе.
Обучение на спецотделении предусматривает изучение юридических дисциплин в полном объеме по ускоренной программе. Как и для обучающихся на дневном отделении, предусмотрена специализация. Выпускники имеют возможность продолжить обучение в магистратуре.
</p>

<p class="lead">Магистратура</p>
<p>
С 2010 года на юридическом факультете введены программы подготовки магистров. Обучение ведется в очной форме.
Программы подготовки магистров ориентированы в первую очередь на лиц, имеющих высшее юридическое образование (диплом бакалавра или специалиста) и желающих получить углубленную подготовку по избранной магистерской программе.
</p>
<ul>
Юридическим факультетом предлагаются магистерские программы по наиболее востребованным в настоящее время научно-практическим специализациям:
<li>Гражданское судопроизводство</li>
<li>Информационные технологии и информационная безопасность</li>
<li>Конституционно-правовые проблемы организации государственной и муниципальной власти</li>
<li>Корпоративное право</li>
<li>Криминалистика, судебная экспертиза, криминалистические информационные технологии</li>
<li>Международное экономическое право. Европейское право</li>
<li>Организация работы юридической службы</li>
<li>Право публичных финансов</li>
<li>Правовое регулирование в сфере энергетики и охраны окружающей среды</li>
<li>Правовое регулирование использования недр, лесов и водных объектов</li>
<li>Правовое регулирование привлечения инвестиций в земельные участки и связанные с ними объекты недвижимости</li>
<li>Регулирование торгово-предпринимательской деятельности</li>
<li>Руководитель, депутат, сотрудник и юрисконсульт государственного, муниципального органа</li>
<li>Современное антикоррупционное законодательство и практика противодействия коррупции</li>
<li>Теория государства и права, сравнительное правоведение, история политических и правовых учений</li>
<li>Труд, государство, бизнес: правовые аспекты взаимодействия</li>
<li>Уголовное право и криминология; уголовно-исполнительное право</li>
<li>Уголовный процесс, судебная власть, прокуратура и адвокатура</li>
<li>Частное право</li>
</ul>
<p>
Имеется возможность продолжить образование в аспирантуре.
</p>

<p class="lead">Обучение иностранных граждан</p>
<p>
Наряду с российскими студентами на факультете по очной форме на договорной основе обучаются граждане из ближнего и дальнего зарубежья. Для иностранных граждан доступны все виды подготовки: бакалавриат и магистратура.
</p>

<p class="lead">Трудоустройство</p>
<p>
Выпускники юридического факультета успешно работают в органах государственной власти и государственного управления, в суде, прокуратуре, адвокатуре, на предприятиях, в учреждениях и организациях, учебных заведениях.
С 2009 г. работает Центр занятости и трудоустройства студентов и выпускников. Партнерами Центра занятости являются юридические фирмы White&Case, Clifford Chance, а также Следственное управление Следственного комитета при Прокуратуре России по г. Москве, Рослесхоз, ФАС России, Министерство юстиции РФ. Центр работает при поддержке Московского отделения Ассоциации юристов России и Ассоциации выпускников юридического факультета МГУ.
</p>

<p class="lead">Подготовительные курсы</p>
<p>
В 2003 г. на юридическом факультете созданы подготовительные курсы. Занятия на курсах проводят преподаватели филологического, исторического и юридического факультетов МГУ по следующим предметам: русскому языку и литературе, обществознанию, праву, истории России, иностранным языкам (английский, немецкий, французский).
Учебный курс рассчитан на 8 месяцев для учащихся выпускных классов (курсов) и молодежи, имеющей среднее полное образование, на 6 месяцев — для учащихся 10 классов, на 4 месяца — для учащихся 9 классов. Занятия проводятся в аудиториях факультета три-четыре раза в неделю. Ведется постоянный контроль посещаемости и успеваемости слушателей подготовительных курсов.
С 2011 г. работают подготовительные курсы в дистанционной форме.
Обучение на подготовительных курсах осуществляется на договорной основе.
</p>

<p class="lead">Дополнительное образование</p>
<p>
На юридическом факультете разработаны программы повышения квалификации по актуальным направлениям правоприменительной деятельности. Обучение слушателей проводится на договорной основе в малых группах (10 – 15 человек) под руководством высококвалифицированных преподавателей юридического факультета. По окончании обучения выдается свидетельство о повышении квалификации государственного образца.
Стажировка на юридическом факультете МГУ является самостоятельным видом повышения квалификации. Программа учебно-научной стажировки предусматривает теоретическую и практическую подготовку на кафедрах, связанную с выполнением научно-исследовательских работ по новым направлениям развития высшего образования, а также с обобщением и распространением новейшего опыта организации учебного процесса, инновационных форм и методов обучения. Обучение слушателей проводится на договорной основе. По окончании обучения слушателям выдается сертификат МГУ.
</p>
			</div>
		</div>
	</div>
</div>

@section scripts {
	<script type="text/javascript" src="~/Scripts/antiscroll.js"></script>
	<script type="text/javascript" src="~/Scripts/lifetime.js"></script>
	
	<script type="text/javascript">
	 	var pageLifetime = new Lifetime();

		$(document).ready(function () {
			pageLifetime.init();
			$('.antiscroll-wrap').antiscroll({ autoHide: false });
		});
	</script>
}