.input {
}
.input-active {
    color: #fff;
}

.keyboard-wrap {
    background: #7D7D82;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#97979C), to(#67676C));
    background-image: -webkit-linear-gradient(#97979C, #67676C);
    background-image: -moz-linear-gradient(#97979C, #67676C);
    background-image: -o-linear-gradient(#97979C, #67676C);
    background-image: linear-gradient(#97979C, #67676C);
    position: absolute;
    display: block;
    padding: 20px;
    border-radius: 5px;
	box-shadow: 0 10px 30px rgba(0,0,0,0.65);
	width: 949px;
}
.keyboard {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
}
    .keyboard li {
        display: inline-block;
        background: #EEEEF3;
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F7F7FC), to(#E7E7EC));
        background-image: -webkit-linear-gradient(#F7F7FC, #E7E7EC);
        background-image: -moz-linear-gradient(#F7F7FC, #E7E7EC);
        background-image: -o-linear-gradient(#F7F7FC, #E7E7EC);
        background-image: linear-gradient(#F7F7FC, #E7E7EC);
        font-size: 22px;
        line-height: 40px;
        padding: 10px;
        border: 1px solid black;
        box-shadow: inset 0 1px #FFF, 0 2px 2px #000;
        margin: 5px;
        border-radius: 5px;
        width: 40px;
        height: 40px;
        text-align: center;
		color: #000;
        text-shadow: 0 1px #FFF;
        cursor: pointer;
    }
    .keyboard li:active {
        background: #000;
        box-shadow: inset 0 1px #000, 0 2px 2px #000;
        color: #fff;
    }
    .keyboard > .uppercase {
        text-transform: uppercase;
    }
	.keyboard .backspace {
		width: 115px;
		text-align: right;
	}
	.keyboard .enter {
		width: 115px;
		text-align: right;
	}
    .keyboard .space {
    }
	.keyboard .mini-space {
		width: 255px;
	}
    .keyboard .lang {
        width: 115px;
    }
	.keyboard .shift {
        width: 115px;
		text-align: right;
    }
		.keyboard .b1 {
		width: 40px;
	}
	.keyboard .b2 {
		width: 115px;
	}
	.keyboard .b3 {
		width: 185px;
	}
	.keyboard .b4 {
		width: 255px;
	}
	.keyboard .b5 {
		width: 330px;
	}
	.keyboard .b6 {
		width: 400px;
	}
	.keyboard .offset3 {
		margin-left: 220px;
	}