body {
	color: #fff;
}

header, footer, nav, section {
	display: block;
}

h1, h2, h3, h4 {
	font-weight: normal;
}

* {
	-ms-touch-action: none;
	-ms-content-zooming: none;
}

.container {
	width: 1080px !important;
	height: 1920px !important;
	margin: 0px 0px 0px 0px !important;
	padding: 0px 0px 0px 0px !important;
	background-color: #F3F5F9;
	background-image: url('images/background.jpg');
	overflow:hidden;
}

/*
	BEGIN Lock screen classes
*/
.logo {
	font-size: 58pt;
	height: 90px;
	background-color: #F3F5F9;
	padding: 10px 20px;
	color: #D02329;
	line-height: normal;
	font-weight: bold;	
	line-height: normal;
}
	.logo img {
		margin-right: 10px;
		height: 85px;
	}

.content {
	padding: 20px 20px 20px 20px;
}
	.content #adImage {
		height: 1530px;
		width: 1040px;
	}

.footer {
	font-size: 38pt;
	height: 220px;
	padding: 10px;
	color: #000;
	background-image: url('images/plan3.png');
	background-repeat: no-repeat;
	background-position: center;
}
	.footer span {
		padding: 20px 10px 20px 10px;
	}
	.footer img {
		vertical-align: sub;
	}
	.footer .help-message {
		float: left;
		position: relative;
		top: 50%;
		font-size: 20pt;
		color: #404040;
	}

/*
	Main view classes
*/

.main-header {
	height: 385px;
	padding: 20px;
}

.main-content-container {
	height: 1070px;
	padding: 0px 20px 0px 20px;
}

.main-content {
	border-radius: 20px;
	-ms-border-radius: 20px;
	-webkit-border-radius: 20px;
	border: 1px solid #ED1C24;
}
	.main-content .main-content-title {
		font-size: 23pt;
		color: #333333;
		height: 84px;
		background-color: transparent;
	}
		.main-content .main-content-title img {
			/*padding: 10px;*/
			/*vertical-align: baseline;*/
		}
		.main-content .main-content-title ul:first-child {
			/*padding: 0px;*/
			border-radius: 20px;
			-ms-border-radius: 20px;
			-webkit-border-radius: 20px;
			background-color: transparent;
		}
		.main-content .main-content-title ul > li {
			line-height: normal;
			margin-right: 5px;
		}
 		.main-content .main-content-title ul > li > ul > li {
			line-height: normal;
			margin-right: 0px;
		}
		.main-content .main-content-title ul > li > ul > li > a {
			line-height: normal;
			vertical-align: middle;
		}
		.main-content .main-content-title > .breadcrumb > li > a {
			text-decoration: none;
			text-shadow: none;
			color: #333333;
			vertical-align: middle;
		}
		.main-content .main-content-title ul > li > .dropdown-toggle {
			text-decoration: none;
			text-shadow: none;
			color: #333333;
			vertical-align: middle;
		}
		.main-content .main-content-title .caret {
			vertical-align: middle;
			border-left: 10px solid black;
			border-top: 10px solid transparent;
			border-bottom: 10px solid transparent;
			border-right: 10px solid transparent;
			margin-top: 2px;
			margin-bottom: 2px;
			margin-left: 5px;
			margin-right: 0px;
			content: " ";
		}
 		.main-content .main-content-title .open > .caret {
			vertical-align: middle;
			border-left: 10px solid transparent;
			border-top: 10px solid black;
			border-right: 10px solid transparent;
			margin-top: 4px;
			margin-bottom: 0px;
			margin-left: 0px;
			margin-right: 5px;
			content: " ";
		}
		.main-content .main-content-title .dropdown-menu {
			background-color: #F3F5F9;
		}
	.main-content .main-container {
		padding: 0px 0px 0px 0px;
		background-color: transparent;
		height: 986px;
	}
		.main-content .main-container .main-menu {
			padding: 20px;
			height: 946px;
			opacity: 1;
		}

.main-footer {
	height: 385px;
	padding: 20px;
}
    .main-footer > img {
        position: absolute;
    }

.mgid-large-text {
	font-size: 1.5em;
	line-height: 1.5em;
}

.mgid-tile {
	width: 232px;
	margin-left: 20px !important;
	margin-right: 0px;
	margin-bottom: 20px;
	box-shadow: 0 5px 15px rgba(0,0,0,0.5);
	border-radius: 20px;
	-ms-border-radius: 20px;
	-webkit-border-radius: 20px;
}
	.mgid-tile .mgid-thumb {
		border: 0px;
		height: 140px;
		padding: 10px 20px 10px 20px;
		background-image: linear-gradient(top, #F3795B 10%, #D02329 55%);
		background-image: -o-linear-gradient(top, #F3795B 10%, #D02329 55%);
		background-image: -moz-linear-gradient(top, #F3795B 10%, #D02329 55%);
		background-image: -webkit-linear-gradient(top, #F3795B 10%, #D02329 55%);
		background-image: -ms-linear-gradient(top, #F3795B 10%, #D02329 55%);
		background-image: -webkit-gradient(
			linear,
			left top,
			left bottom,
			color-stop(0.10, #F3795B),
			color-stop(0.55, #D02329)
		);
		border-radius: 20px;
		-ms-border-radius: 20px;
		-webkit-border-radius: 20px;
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		width: inherit;
	}
	.mgid-tile .mgid-thumb > h4 {
		line-height: 30px;
		font-size: 16pt;
	}
	.mgid-tile .clicked {
		background-image: linear-gradient(top, #F3795B 10%, #91181E 58%);
		background-image: -o-linear-gradient(top, #F3795B 10%, #91181E 58%);
		background-image: -moz-linear-gradient(top, #F3795B 10%, #91181E 58%);
		background-image: -webkit-linear-gradient(top, #F3795B 10%, #91181E 58%);
		background-image: -ms-linear-gradient(top, #F3795B 10%, #91181E 58%);
		
		background-image: -webkit-gradient(
			linear,
			left top,
			left bottom,
			color-stop(0.10, #F3795B),
			color-stop(0.58, #91181E)
		);
	}

.mgid-tile-large {
	width: 286px;
	margin-left: 20px !important;
	margin-right: 0px;
	margin-bottom: 20px;
	box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}
	.mgid-tile-large .mgid-thumb {
		border: 0px;
		height: 140px;
		background: #2E8B57;
		padding: 10px 20px 10px 20px;
	}
	.mgid-tile-large .clicked {
		background: #19492E;
	}

.mgid-panel {
	background-color: #ED1C24; /*#2776EC;*/
	margin-top: 20px;
	padding-top:  10px;
	padding-left: 20px;
	padding-right: 20px;
	height: 96px;
	box-shadow: 0 5px 5px rgba(0,0,0,0.35);
	z-index: 100;
}
	.mgid-panel .mgid-panel-header > small {
		color: #fff !important;
		text-decoration: underline !important;
	}
	.mgid-panel li {
		line-height: 1.2em !important;
	}
	.mgid-panel p {
		line-height: 1.2em !important;
	}
	.mgid-panel div#description {
		display: none;
	}
	.mgid-panel.visible {
		height: 600px;
		position: relative;
		top: -504px;
	}
	.mgid-panel.visible div#description {
		display: block;
		margin-top:  20px;
		height: 485px;
		overflow: hidden;
	}

.mgid-map {
	background-color: #EDEDED;
	height: 820px;
	width: 1000px;
	-ms-touch-action: pinch-zoom;
	-ms-content-zooming: zoom;
}
	.mgid-map > div {
		top: -820px;
		-ms-touch-action: pinch-zoom;
		-ms-content-zooming: zoom;
	}

.mgid-map-control-panel {
    position: relative; 
    float: right; 
	height: 820px;
    padding: 20px;
	background-color: rgba(128,128,128,0.6);
	text-align: center;
	box-sizing: border-box;
	z-index: 99;
}
	.mgid-map-control-panel .mgid-map-control-btn {
		margin-bottom: 10px;
		color: #333333;
		font-weight: bold;
	}
		.mgid-map-control-panel .mgid-map-control-btn > img {
			display: block;
			margin-left: auto;
			margin-right: auto;
		}

.mgid-keyboard {
	width: 979px !important; 
	height: 40px !important; 
	font-size: 1.9em !important; 
	line-height: normal !important; 
	color: #333333 !important;
	background-color: #CDCED0 !important;

	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	margin-bottom: 10px;
}
	.mgid-keyboard .active {
		color: #fff;
	}

.mgid-box-wrap {
	width: 989px;
	height: 890px;
}

.mgid-box {
	width:1008px; 
	height:910px;
}