body {
	font-family: "Segoe UI Light", "Helvetica Neue", "Segoe UI", "Segoe WP", sans-serif;
	color: #fff;
}

header, footer, nav, section {
	display: block;
}

.container {
	width: 1080px !important;
	height: 1920px !important;
	margin: 0px 0px 0px 0px !important;
	padding: 0px 0px 0px 0px !important;
	background-image: url('images/background.png');
}

/*
	BEGIN Lock screen classes
*/
.logo {
	font-size: 58pt;
	font-weight: bold;
	height: 90px;
	background-color: #F8F600;
	padding: 10px;
}
	.logo img {
		margin: 10px;
	}

.content {
	padding: 20px 20px 20px 20px;
}

.footer {
	font-size: 38pt;
	font-weight: bold;
	height: 220px;
	padding: 10px;
	color: #000;
	background-image: url('images/plan3.jpg');
	background-position-x: right;
	background-repeat: no-repeat;
}
	.footer span {
		padding: 20px 10px 20px 10px;
	}
	.footer img {
		vertical-align: sub;
	}
	.footer .help-message {
		float: left;
		position: relative;
		top: 50%;
		font-size: 20pt;
		color: #404040;
	}

/*
	Main view classes
*/

.main-header {
	height: 385px;
	padding: 20px;
}

.main-content {
	height: 1030px;
	padding: 0px 20px 0px 20px;
}
	.main-content .title {
		font-size: 38pt;
		background-color: #F8F600;
		font-weight: bold;
	}
		.main-content .title img {
			padding: 10px;
		}
		.main-content .title .btn-home {
			background-color: #2776EC;
			float: right;
		}
	.main-content .main-container {
		padding: 10px 0px 0px 0px;
	}
		.main-content .main-container .left-column {
			width: 100px;
			float: left;
		}
			.main-content .main-container .left-column .panel {
				background-color: #2776EC;
				height: 400px;
				margin-bottom: 10px;
			}
				.main-content .main-container .left-column .panel.opened {
					width: 400px !important;
				}
		.main-content .main-container .right-column {
			width: 930px;
			float: right;
		}

.main-footer {
	height: 385px;
	padding: 20px;
}

/*
	BEGIN Tiles classes
*/
.thumbnails > li.tile {
  display: block;
  cursor: pointer;
  -webkit-perspective: 0;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.2s;
  float: left;
  width: 130px;
  height: 130px;
  text-align: center;
  padding: 5px;
  opacity: 0.75;
  background-color: #2e8bcc;
}
.thumbnails > li.tile h1,
.thumbnails > li.tile h2,
.thumbnails > li.tile h3,
.thumbnails > li.tile h4,
.thumbnails > li.tile h5,
.thumbnails > li.tile h6 {
  color: #ffffff;
  -webkit-user-select: none;
}
.thumbnails > li.tile h2 {
  font-size: 1.75em;
  margin-top: -20px;
  margin-left: 0px;
}
.thumbnails > li.tile h3,
.thumbnails > li.tile h4 {
  margin-top: -15px;
}
.thumbnails > li.tile h1.tile-text,
.thumbnails > li.tile h2.tile-text,
.thumbnails > li.tile h3.tile-text,
.thumbnails > li.tile h4.tile-text {
  margin-top: 43.333333333333336px;
}
.thumbnails > li.tile a:hover {
  text-decoration: none;
}
.thumbnails > li.tile img {
  border: 0;
}
.thumbnails > li.tile:hover {
  opacity: 1;
}
.thumbnails > li.tile.tile-double {
  width: 260px;
}
.thumbnails > li.tile.tile-blue {
  background-color: #2e8bcc;
}
.thumbnails > li.tile.tile-green {
  background-color: #339933;
}
.thumbnails > li.tile.tile-red {
  background-color: #e51400;
}
.thumbnails > li.tile.tile-yellow {
  background-color: #ffc40d;
}
.thumbnails > li.tile.tile-orange {
  background-color: #f09609;
}
.thumbnails > li.tile.tile-pink {
  background-color: #e671b8;
}
.thumbnails > li.tile.tile-purple {
  background-color: #7b4f9d;
}
.thumbnails > li.tile.tile-lime {
  background-color: #8cbf26;
}
.thumbnails > li.tile.tile-magenta {
  background-color: #ff0097;
}
.thumbnails > li.tile.tile-teal {
  background-color: #00aba9;
}
