<div id="map" class="mgid-map">
</div>
<div class="mgid-panel">
	<h2><img src="~/Content/images/white_arrow_up.png" alt="btn" /> Информация</h2>
	<span id="description">
	@Html.Raw(ViewBag.MapObject.Description)
	</span>
</div>
