@using MarketGid.Core.Models

@{
	Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div class="main-header">
	<img src="@Url.Content(ViewBag.TopAdvertisement.Uri)" alt="top advertisement" />
</div>
<div class="main-content">
	<div class="main-content-title">
		<a href="~/main" id="back-link"><img src="~/Content/images/black_arrow_left.png" alt="Back" /></a> <span id="title">@ViewBag.MapObject.Name</span>
	</div>
	<div class="main-container">
		<div class="main-menu" style="padding-left: 110px;">
			@Html.Partial("_MapObject")
		</div>
	</div>
</div>
<div class="main-footer">
	<img src="@Url.Content(ViewBag.BottomAdvertisement.Uri)" alt="bottom advertisement" />
</div>