@{
	Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div class="main-header">
	<img src="~/Content/images/ppl2.jpg" />
</div>
<div class="main-content">
	<div class="title">
		<a href="~/main"><img src="~/Content/images/black_arrow_left.png" alt="Back" /></a> МОСФИЛЬМ
	</div>
	<div class="main-container">
		<div class="main-menu" style="padding-left: 110px;">
			<div style="height: 840px;">
				<canvas id="map" width="910" height="840" class="mgid-map"></canvas>
			</div>
			<div class="mgid-panel">
				<h3>Информация</h3>
			</div>
		</div>
	</div>
</div>
<div class="main-footer">
	<img src="~/Content/images/mosf2.jpg" />
</div>
<script type="text/javascript">
	$(document).ready(function () {
		// init thumbnails
		$('.mgid-thumb').click( function () {
			window.location.href = '@Url.Content("~/map/item/1")';
		});
	
		// init virtual keyboard
		$('#ipad').keyboard({ 
 		    display: { 
		        'bksp'   :  "\u2190", 
		        'accept' : 'Поиск', 
		        'default': 'ABC', 
		        'meta1'  : '.?123', 
		        'meta2'  : '#+=',
		        'enter'  : 'Поиск'
		    }, 
		    layout: 'custom', 
		    customLayout: { 
		        'default': [ 
		            'q w e r t y u i o p {bksp}', 
		            'a s d f g h j k l {accept}', 
		            '{s} z x c v b n m , . {s}', 
		            '{meta1} {space} {meta1}' 
		        ], 
		        'shift': [ 
		            'Q W E R T Y U I O P {bksp}', 
		            'A S D F G H J K L {accept}', 
		            '{s} Z X C V B N M ! ? {s}', 
		            '{meta1} {space} {meta1}' 
		        ], 
		        'meta1': [ 
		            '1 2 3 4 5 6 7 8 9 0 {bksp}', 
		            '- / : ; ( ) \u20ac & @@ {accept}', 
		            '{meta2} . , ? ! \' " {meta2}', 
		            '{default} {space} {default}' 
		        ], 
		        'meta2': [ 
		            '[ ] { } # % ^ * + = {bksp}', 
		            '_ \\ | ~ < > $ \u00a3 \u00a5 {accept}', 
		            '{meta1} . , ? ! \' " {meta1}', 
		            '{default} {space} {default}' 
		        ] 
		    } 
		});
	});
</script>
<script type="text/javascript">
	$(document).ready(function () {
		var canvas = document.getElementById('map');
		var context = canvas.getContext('2d');
		
		// width: 910, height: 840
		
		// butt line cap (top line)
		context.beginPath();
		context.shadowColor = '#999';
		context.shadowBlur = 20;
		context.shadowOffsetX = 5;
		context.shadowOffsetY = 15;		

		context.moveTo(200, canvas.height / 2 - 50);
		context.lineTo(canvas.width - 200, canvas.height / 2 - 50);
		context.lineWidth = 20;
		context.strokeStyle = '#0000ff';
		context.lineCap = 'butt';
		context.stroke();

		// round line cap (middle line)
		context.beginPath();
		context.moveTo(200, canvas.height / 2);
		context.lineTo(canvas.width - 200, canvas.height / 2);
		context.lineWidth = 20;
		context.strokeStyle = '#0000ff';
		context.lineCap = 'round';
		context.stroke();

		// square line cap (bottom line)
		context.beginPath();
		context.moveTo(200, canvas.height / 2 + 50);
		context.lineTo(canvas.width - 200, canvas.height / 2 + 50);
		context.lineWidth = 20;
		context.strokeStyle = '#0000ff';
		context.lineCap = 'square';
		context.stroke();
		

	});
</script>
